h1 {
  font-family: SignPainter;
  margin-bottom: 10px;
}

.why-learn-english {
  h4 {
    text-align: center;
  }
  margin: 10px;
}

.subtitle {
  margin-bottom: 10px;
  font-size: 24px;
}

.jumbotron {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.35) 36%, rgba(0, 0, 0, 0.25) 46%), url(https://images.pexels.com/photos/256428/pexels-photo-256428.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  background-position: center;
  color: black;
  h1, div {
    text-shadow: 1px 1px #000;
    color: white;
  }
}

.selling-point-icon {
  font-size: 55px;
  text-align: center;
  color: orange;
}

.meet-your-teacher {
  h3 {
    i {
      font-size: 20px;
      color: orange;
    }

  }
  #teacher-profile {
    margin-top:10px;
    padding: 10px;
    font-size: 1.7rem;
    vertical-align: middle;
  }
  #image-container {
    text-align: center;
  }
  h2 {
    font-size: 50px;
    margin-top: 0px;
  }
  .teacher-synopsis {
    padding: 25px;
  }
    background: white;
    padding: 45px;
    border: 1px solid orange;
    border-radius: 10px;
    margin: 35px 0;
    font-size: 1.6rem;
}


