<div class="jumbotron">
  <div class="container">
  <h1>Improve your Life, Learn English!</h1>
  <div class="subtitle">The world's most widely used language</div>
  <%= link_to "Book a lesson", new_appointment_path, class: "btn btn-primary" %>
  </div>
</div>
<div class="container">
  <section class="why-learn-english">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <h4>Join millions of other English Speakers</h4>
      </div>
      <div class="col-sm-12 col-md-4">
        <h4>Improve yourself</h4>
      </div>
      <div class="col-sm-12 col-md-4">
        <h4>Have some fun!</h4>
      </div>
    </div>
  </section>
  <section class="meet-your-teacher">
    <h2>Meet your Teacher</h2>
    <div class="teacher-synopsis">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          Image of Abby
        </div>
        <div class="col-sm-12 col-md-6">
          <p>Abby is a TEFL Certified English Teacher with over 1000 hours of teaching. Something else blah blah blah give me your money ill teach you english.</p>
        </div>
      </div>
    </div>
    <div class="teacher-selling-points">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <h3>TEFL Certified</h3>
          <p>With a Teaching English as a Foreign Language Certificate, Abby is well prepared to teach English to students of any level. Well versed in customized lesson planning, she will find the best ways to teach you English, the way <em>you</em> want to learn it.</p>
        </div>
        <div class="col-sm-12 col-md-4">
          <h3>1000+ hours</h3>
          <p>Numerous hours in the classroom, one on one tutoring sessions, and over Skype have helped Abby learn what works and what doesn't. Learn English in the most effective way possible!</p>
        </div>
        <div class="col-sm-12 col-md-4">
          <h3>Personalized Lessons</h3>
          <p>Learn what you want, the way you want. With experience teaching countless topics, Abby can cater her lessons to precisely target your learning goals. That way you spend every minute of your prescious time, learning exactly what you want.</p>
        </div>
      </div>
    </div>
      <%= link_to "Make an Appointment", new_appointment_path, class: "btn btn-primary" %>
  </section>
  <section class="how-it-works">
    <div class="how-it-works-step-one">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          Picture
        </div>
        <div class="col-sm-12 col-md-1">1</div>
        <div class="col-sm-12 col-md-7">
          <h2>Fill out a 3 minute short form</h2>
          <p>Details of this step</p>
        </div>
      </div>
    </div>
    <div class="how-it-works-step-two">
      <div class="row">
        <div class="col-sm-12 col-md-1">2</div>
        <div class="col-sm-12 col-md-7">
          <h2>Book an Appointment</h2>
          <p>Details of this step</p>
        </div>
        <div class="col-sm-12 col-md-4">Picture</div>
      </div>
    </div>
    <div class="how-it-works-step-three">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          Picture
        </div>
        <div class="col-sm-12 col-md-1">3</div>
        <div class="col-sm-12 col-md-7">
          <h2>Learn English!</h2>
          <p>Details of this step</p>
        </div>
      </div>
    </div>
    <%= link_to "Get started", new_appointment_path, class: "btn btn-primary" %>
  </section>
  <section class="signup-to-email-list">
    <h3>Still not sure? Sign up for weekly English tips completely free!</h3>
    <form action="/">
      <input type="email" placeholder="your@email.here">
      <input type="submit">
    </form>
  </section>
</div>
