.how-it-works {
  padding: 30px;
  background: white;
  border-radius: 5px;
  box-shadow: 1px 2px #E6E6E6;
  .step-image{
    width: 100%;
    height: auto;
    border-radius: 3px;
  }
  .step-number-how-it-works {
    font-size: 79px;
    color: orange;
    text-shadow: 3px 2px #E6E6E6;
  }

  .how-it-works-step {
    margin-bottom: 30px;
  }
}
